build:default --cxxopt=-std=c++1z
build:default --cxxopt=-stdlib=libc++

build:debug --cxxopt=-std=c++1z
build:debug --cxxopt=-O0
build:debug --cxxopt=-fsanitize=address,undefined
build:debug --linkopt -fsanitize=address,undefined
